:root {
    /* カラー定義 */
    --black: #222222;
    --white: #FFFFFF;
    --yellow: #ffd61a;
    --bg-gray: #fafafa;
    --border-gray: #bfbfbf;
    --bg-footer: #707070
}

/* 本ページの基本設定 */
/* 変更したい場合は各Class内で上書きする */
body {
    color: var(--black);
    font-size: 16px;
    text-align: center;
}

p {
    line-height: 25px;
}

button {
    color: var(--white);
    background-color: var(--yellow);
    border: none;
    width: 300px;
    height: 60px;
    font-size: 18px;
}

table {
    margin: auto;
}

button:hover {
    opacity: 0.6;
}

/* 共通Class */
.en-title {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.en-title-yellow {
    color: var(--yellow);
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.jp-title {
    font-size: 18px;
    padding-bottom: 30px;
}

/* Header */
.header {
    font-size: 21px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-nav ul li {
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

/* Mainvisual */
.mainvisual {
    position: relative;
}

.mainvisual-img {
    width: 100%;
}

.mainvisual-text {
    position: absolute;
    color: var(--white);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainvisual-text-slogan {
    font-size: 44px;
}

.mainvisual-text-schoolname {
    font-size: 32px;
    margin-top: 30px;
}

/* About */
.about p {
    margin-bottom: 40px;
}

.about-picturelist {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.about-picturelist-item {
    width: 100%;
    height: auto;
}

.about-picturelist-item img {
    width: 100%;
    height: auto;
}

/* Course */
.course-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.course-detail-item {
    flex: 0 0 50%;
    background-color: var(--bg-gray);
    position: relative;
}

.course-detail-item-text {
    text-align: left;
    position: absolute;
    width: 480px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.course-detail-item-text-left {
    padding-left: 50px;
    left: 0%;
}

.course-detail-item-text-right {
    padding-right: 50px;
    right: 0%;
}

.course-detail-item-text h2 {
    font-size: 24px;
}

.course-detail-item-text p {
    margin-top: 60px;
}

/* News */
.news-pickslist {
    display: flex;
    justify-content: center;
}

.news-pickslist-item {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-pickslist-item-date {
    margin-top: 30px;
    margin-bottom: 24px;
}

.news button {
    margin: 60px;
}

/* Access */
.access {
    background: var(--bg-gray);
    padding-bottom: 60px;
}

.access-map {
    margin-top: 30px;
    margin-bottom: 60px;
}

.access-table-td-itemname {
    height: 50px;
    width: 300px;
    text-align: left;
    vertical-align: middle;
}

.access-table-td-itemdetail {
    height: 50px;
    width: 400px;
    text-align: left;
    vertical-align: middle;
}

/* Contact */
.contact-text {
    margin-top: 30px;
}

.contact-form {
    margin-top: 70px;
}

.contact-form-table {
    margin-bottom: 30px;
}

.contact-form-table-td-itemname {
    border: 1px solid var(--border-gray);
    border-left: none;
    height: 36px;
    width: 240px;
    padding-left: 16px;
    text-align-last: left;
    vertical-align: middle;
}

.contact-form-table-td-itemdetail {
    border: 1px solid var(--border-gray);
    border-right: none;
    height: 36px;
    width: 400px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    text-align: left;
    vertical-align: middle;
}

.contact-form-table-td-input {
    width: 80%;
}

.contact-form-table-td-motivation {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Footer */
.footer {
    background-color: var(--bg-footer);
    margin-top: 140px;
}

.footer p {
    color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
}
