.wrapper-land {
    margin-top: 5vh;
}

.wrapper-form {
    margin-top: 5vh;
    height: 50vh;
}

.wrapper-list {
    margin-top: 5vh;
    height: 80vh;
}

.wrapper-detail {
    margin-top: 5vh;
    height: 80vh;
}